:root {
    --brand-red: #ce2020;
    --brand-green: #8dc728;
}
/* Global styles */
html, body{
    padding:0;
    margin:0;
}
body{
    background-image: url('img/background.webp');
}
/* Font styles */
h1, h2, h3, h4, h5, h6, p, a{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h1, h2, h3, h4 {
    font-weight: 900;
    font-variation-settings: 
    "wdth" 87.5;
}
p, a {
    font-weight: 400;
    font-variation-settings:
    "wdth" 100;
}
/* Header styles */
header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h2{
    font-size: 30px;
    padding-left: 55%;
}
a   {
    text-decoration: none;

}
header nav{
    align-items:right;
    width:30%;
}
header nav a{
    color:#333333;
    padding-right: 8%; 
}
/* Logo Class styles */
.logoRed{
    color: var(--brand-red);
}
.logoGreen{
    color: var(--brand-green);
}
/* Content Class styles */
.menuContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3%;
    padding: 2%;
}
h1 {
    font-size: 70px;
    line-height: 0.9;
}
p {
    font-size: 18px;
    line-height: 1.5;
}
.introText{
    width: 25%;
    margin-bottom: 2%;
}
.recipieBox{
    position: relative;
    background-size: cover;
    background-position: center;
    width: 20%;
    height: 500px;

}
.recipieBox h4{
    position: absolute;
    right:0;
    padding-top: 10.5px;
    padding-bottom: 10.5px;
    padding-right: 5%;
    font-size: 24px;
    margin: 0px;
}
.recipieBreakfast {
    background-image: url('../img/apple-breakfast-quinoa-7.jpg');
}
.recipieLunch {
    background-image: url('img/pasta-salad-recipe-for-lunch.jpg');
}
.recipieDinner {
    background-image: url('img/Screenshot_208.jpg');
}
.buzzword{
    bottom:10%;
    padding-left: 5%;
    display: inline-block;
    background-color: white;
}
.meal{
    bottom:0%;
    padding-left: 25%;
    display: inline-block;
    background-color: var(--brand-green);
}